body {
    font: 0.9em arial,helvetica,clean,sans-serif;
    padding: 0 10px;
}

a {
    text-decoration: none;
}

span{
    overflow-x: scroll;
    white-space: nowrap;
}

.clearer {
    clear: both;
}

.notice {
    font-style: italic;
}

.username {
    font-weight: bold;
}

.ms{
    position:absolute;
}

.us{
    position:relative;
}

.sentme{
    right:0;
}

.sendfr{
    left:0;
}

#messages, #users {
    border: 1px solid black;
    height: 55%;
    overflow-y: scroll;
    margin-bottom: 10px;
    word-wrap: break-word;
    font: 1.0em Courier New, monospace;
    color: black;
    float: left;
    padding: 5px;
    position:relative;
}

#messages {
    width: 80%;
}

#users {
    width: 10%;
    overflow-x: scroll;
    border-left-style: none;
    font-weight: bold;
}

#users ul {
    margin: 0;
    padding: 0 17px;
}

#field-message {
    width: 80%;
    font: 1.0em Courier New, monospace;
}
