@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Montez);


body {
	background: #eeece7;
}

h1 {
	font: 52px/1 'Montez';
	color: #a4834d;
}

h1+p {
	margin-bottom: 3.5em;
}

#page-wrap {
	width: 960px;
	margin: 30px auto;
	padding: 3em;
	background: #fff;
	-webkit-box-shadow: 0px 0px 2px #62615f inset;
	-moz-box-shadow: 0px 0px 2px #62615f inset;
	box-shadow: 0px 0px 2px #62615f inset;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}

#page-wrap p{
	font-family:"宋体";
	}
/* /////////////////////////////////////////
	=#navigation
///////////////////////////////////////// */

#navigation {
	padding: 3px;
}
#navigation li {
	float: left;
	border-right: 1px solid #eee;
}
#navigation li:last-child {
	border: 0;
}
#navigation li a,
#navigation li span {
	border: 0;
	padding: 10px;
	font: 14px/1 Verdana;
	color: #a49e96;
}
.no-js #navigation li a:hover,
.no-js #navigation li a:focus,
.no-js #navigation li.focus a,
.lava {
	-webkit-border-radius: 6px;
	-khtml-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0px 0px 2px #69635a;
	-moz-box-shadow: 0px 0px 2px #69635a;
	box-shadow: 0px 0px 2px #69635a;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#887963), to(#0b0a09));
	background-image: -webkit-linear-gradient(-90deg, #887963, #0b0a09);
	background-image: -moz-linear-gradient(-90deg, #887963, #0b0a09);
	background-image: -o-linear-gradient(-90deg, #887963, #0b0a09);
	background-image: -ms-linear-gradient(-90deg, #887963, #0b0a09);
	background-image: linear-gradient(-90deg, #887963, #0b0a09);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#776a57', endColorstr='#12100e',GradientType=0 ); /* IE6-9 */
}

/* /////////////////////////////////////////
	=Global Classes
///////////////////////////////////////// */

.clearfix:after {
	content: "";
	display: block;
	clear: both;
	}
	.ie6 .clearfix { height: 1px; } /* IE6 */
	.ie7 .clearfix { min-height: 1px; } /* IE7 */
