html, body {
  height:100%;
  width:100%;
}
/* Feel free to mess around with the colors.
I'm still not sure what'd be good... I just thought "navy" was too dark for a bg.*/
body {
  background-color: #eeece7;
}

/*#header{ (Commented out: a different header was added through format.css)
  background-color: #7B3F00;
  display:flex;
  align-items:baseline;
}*/

/* colors go here for easy editing. */
#layer1, #profileheader, #messages {
  background-color: powderblue;
}

#users{
  background-color: #8bd1da; /* a couple shades darker than powderblue (because I removed scrollbars and outlines) */
}

/* Profile page */
#profileheader{
  display:flex;
  align-items:baseline;
}

#profilepic {
  padding-top:25px;
  width: 168;
  height: 168;
}
#actions {
  display:flex;
  flex-direction: column;
}

/* Login (and registration) page */
#loginpage {
  display:flex;
  align-items:center;
}
#layer1 {
  padding: 10px;
  text-align: center;
}
#layer2 {
  background-color: white;
  padding: 10px;
  text-align: center;
}

/* Chat page */
#messages, #users{
  border: none !important;
}

/* Index page */
#layer3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  /* https://stackoverflow.com/questions/19461521/how-to-center-an-element-horizontally-and-vertically */
}

/* other */
#username {
  top: 5%;
}
